<section class="reclaim dialog hide">
	<div class="dialog-close"></div>
	<header>
		<h1 class="reclaim-estate-title hide">庄园开垦</h1>
		<h1 class="reclaim-farm-title">农场开垦</h1>
	</header>
	<div class="reclaim-r1">
		<div class="estate-r1c1">
			<ul>
				<li><img src="img/img1.png" alt=""></li>
				<li><img src="img/img2.png" alt=""></li>
				<li><img src="img/img3.png" alt=""></li>
			</ul>
		</div>
		<div class="reclaim-r1c2">
			<link rel="import" href="../reclaim-estate/index.html?__inline">
			<link rel="import" href="../reclaim-farm/index.html?__inline">
		</div>
	</div>
</section>