.nav{
	position: absolute;
	right: 37px;
	top: 24px;
}
.nav ul{
	display: flex;
	align-items: flex-end;
}
.nav li{
	text-indent: -999em;
}
.nav li:nth-child(1){
	width: 85px;
	height: 112px;
	background-image: url(img/icon1.png);
	margin-right: 13px;
}
.nav li:nth-child(2){
	width: 93px;
	height: 110px;
	background-image: url(img/icon2.png);
	margin-right: 33px;
}
.nav li:nth-child(3){
	width: 85px;
	height: 112px;
	background-image: url(img/icon3.png);
}
.nav li a{
	display: block;
	height: 100%;
}