.center-focus{
	background: url(img/center-focus.png);
	width: 801px;
	height: 472px;
}
.center-focus ul{
	overflow: hidden;
	padding: 0 30px;
}
.center-focus li{
	float: left;
	width: 16.6%;
	height: 107px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.center-focus img{
	display: block;
}