<section class="center dialog hide">
	<div class="dialog-close"></div>
	<div class="center-c1">
		<div class="center-person">
			<div class="center-photo">
				<img src="img/photo.png" alt="">
			</div>
			<div class="center-text">
				<h2>Mrs. 小水果</h2>
				<p>等级:40</p>
			</div>
		</div>
		<ul>
			<li id="center-focus" class="active">我关注的</li>
			<li id="center-infor">个人信息</li>
			<li id="center-notice">系统公告</li>
		</ul>
	</div>
	<div class="center-c2">
		 <link rel="import" href="../../modules/center-focus/index.html?__inline">
		 <link rel="import" href="../../modules/center-infor/index.html?__inline">
		 <link rel="import" href="../../modules/center-notice/index.html?__inline">
	</div>
</section>